.cards {
  border-radius: 24px;
  background: var(--background-white, #FFF);
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.08);
  width: 588px;
  height: 130px;

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;

}

.titleAndDescription {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

}

.titleAndDescription h4 {
  color: var(--text-bright-grey, #183B56);

  /* Heading/H5-24px-SemiBold */
  font-size: 19.981px;

  font-style: normal;
  font-weight: 700;
  line-height: 35.681px;
  letter-spacing: 0.143px;
  text-transform: capitalize;

}

.titleAndDescription p { 

  color: #8B8C8F;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -1px;

  display: flex;
  width: 100%;
  flex-direction: column;
  flex-shrink: 0;
 
  font-style: normal;
 


}


@media only screen and (max-width: 750px) {
  .cards {
    width: 80%;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    height: auto;
    padding: 20px;
  }

  .titleAndDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    width: auto;
  
  }  
  .titleAndDescription p { 
    font-size: 13px;
  }
  
}