.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0rem;
  min-height: 100vh;
  background-color: #FFFFFF;

}

.bg {

  position: absolute;
  z-index: -0;
  top: 509px;
  Width: 100%;
}

.header {

  width: 100%;
  padding: 78px 115px;
}

.navbar {
  width: 100%;
  min-width: 320px;
  display: flex;
  padding: 10px 24px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;

  border-radius: 10px;
  background: var(--dark-tertiary, #272937);

}

.heroAndDescription {

  display: flex;
  flex-direction: column;
  padding: 0px 150px;
  justify-content: center;
  align-items: center;
  gap: 43px;
}

.image {
  z-index: 1;
}

.boxDescription {

  display: flex;
  width: 1003px;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
  z-index: 1;
}

.boxDescription h1 h6 {

  font-family: var(--inter);
  font-style: normal
}

.boxDescription h1 {



  color: #272937;
  text-align: center;
  font-size: 60px;
  font-family: var(--inter);
  font-style: normal;
  font-weight: 600;
  line-height: 66.5px;
  letter-spacing: 0.1px;
}

.boxDescription h6 {
  color: #8B8C8F;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -1px;




  display: flex;
  max-width: 633px;
  flex-direction: column;
  flex-shrink: 0;

  text-align: center;

  font-family: var(--inter);
  font-style: normal;


  letter-spacing: -1px;
}

.comofunciona {
  display: inline-flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  width: 80%;
  text-align: justify;
  padding: 0.4rem 0 4rem 0;
}

.comofunciona h1 p {
  font-style: normal;
}

.comofunciona h1 {

  color: var(--dark-primary, #005CE5);
  font-size: 34px;


  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.comofunciona p {
  color: #8B8C8F;

  font-size: 18px;


  font-weight: 500;
  line-height: 30px;
  letter-spacing: -1px;
}

.boxCards {
  display: flex;
  width: 1400px;
  flex-direction: column;
  padding: 120px 150px;
  justify-content: center;
  align-items: center;
  gap: 23px;
  flex-wrap: wrap;


}

.titleBoxCard {
  display: flex;
  width: 460px;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--dark-primary, #005CE5);
  font-size: 34px;

  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}


.callToAction {
  display: flex;
  max-width: 1400px;

  height: 389px;
  padding: 6rem 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.callToAction h3 h6 {
  font-family: var(--inter);
  color: #223140;

}

.callToAction h3 {
  color: #223140;
  text-align: center;
  font-size: 32px;

  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1px;
}

.callToAction h6 {



  color: #8B8C8F;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -1px;

  text-align: center;


  font-style: normal;



}

.folder {
  display: flex;
  width: 100%;
  height: 322px;
  padding: 0px 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  background-color: #005CE5;

}

.folder p {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  line-height: 26px;


  display: flex;
  width: 540px;
  height: 62px;
  flex-direction: column;
}

.socilmedia {

  display: flex;
  flex-direction: row;
  gap: 30px;

}



@media only screen and (max-width: 750px) {
  .header {

    padding: 30px 10%;
    display: flex;
    justify-content: center;

  }

  .navbar {
    width: 380px;
  }

  .bg {

    position: absolute;
    z-index: -0;
    top: 509px;
    width: 100%;
    min-width: 290px;
  }

  .heroAndDescription {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10rem 0 1rem 0;
  }

  .image {
    padding: 4rem;
    height: auto;
    width: 100%;
    min-width: 240px;

  }

  .boxDescription {
    width: 500px;
  }

  .boxDescription h1 {
    font-size: 32px;
    line-height: 1.2;

  }

  .boxDescription h6 {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .boxCards {
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 70px;

  }


  .titleBoxCard {
    text-align: center;
    font-size: 32px;
    display: flex;
    width: 460px;
  }

  .callToAction {
    width: 100%;
    padding: 4rem 0;
    min-width: 800px;
  }

  .callToAction h3 {
    font-size: 24px;
    width: 600px;
    line-height: 30px;

  }

  .callToAction h6 {
    width: 600px;
    line-height: 26px;
  }

}

@media only screen and (max-width: 476px) {
  .heroAndDescription {

    width: 100%;
    padding: 10rem 0 6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px
  }

  .image {
    height: auto;
    width: 100%;
    min-width: 300px;

  }

  .boxDescription {
    width: 100%;
    min-width: 250px;
    display: flex;
    gap: 30px;
  }

  .boxDescription h1 {
    font-size: 24px;
    line-height: 26.681px;
    margin-bottom: 10px;
  }

  .boxDescription h6 {
    font-size: 13px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .boxCards {
    gap: 10px
  }

  .titleBoxCard {
    text-align: center;
    width: 270px;
    font-size: 24px;
  }

  .callToAction {
    width: 100%;

  }


  .callToAction h3 {
    font-size: 19px;
    line-height: 30px;
    width: 280px;
  }

  .callToAction h6 {
    font-size: 13px;
    line-height: 20px;
    width: 280px;
    line-height: 26px;
  }


  .folder {
    width: 100%
    
  }

  .folder p {
    width: 100%;
    min-width: 240px;
  } 
  .socilmedia{ 
    padding-top: 2rem;
  }
}

















































/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}